<h1>Create Car Workshop</h1>

<hr/>

<div>
    <div>
        <form action="/Picture/Create" method="post">
            <div>
                <label for="Title">Title</label>
                <input type="text" id="Title" name="Title"/>
            </div>

            <div>
                <label for="Description">Description</label>
                <input type="text" id="Description" name="Description" />
            </div>

            <div>
                <label for="ImageName">ImageName</label>
                <input type="text" id="ImageName" name="ImageName" />
            </div>

            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
